.borderline{
  width: 350px;
  height: 3px;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
}

.App{
  background-color: rgb(225, 224, 224);
}
.lol{
  background-color: white;
}
.footer{
  background-color: #262626;
  color: white;
  text-align: center;
  min-height: 30vh;
}